body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}

input[type=text] {
	font-family: 'Open Sans', sans-serif;
}

button {
	display: inline-block;
    background-color: #3a3a3a;
    color: #fff;
    text-decoration: none;
    padding: 6px 9px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    outline: none;
}

button:hover {
	cursor: pointer;
	background-color: #686868;
}

#page-container {
	width: 1000px;
}

#page-header {
	padding: 4px;
	text-align: center;
}

.page-row {
	margin: 8px 0px;
}

.section-header {
	font-weight: bold;
	background-color: #777;
	color: #ddd;
	text-align: center;
	padding: 4px 0px;
	text-transform: uppercase;
}

.right {
	float: right;
}

#page-footer {
	font-size: 0.75em;
}

#after-login {
	display: none;
}

/* --------------- LOGIN CONTAINER ------------- */
#login-container {
	text-align: center;
}
/* --------------------------------------------- */

/* --------------- VIDEO CONTAINER ------------- */
#local-video, #remote-video {
	display: none;
}

#video-container {
	position: relative;
	left: 100px;
}

#video-container div {
	display: inline-block;
}

#video-container video {
	z-index: 100;
}

#local-canvas, #remote-canvas {
	z-index: 200;
}

#local-canvas-drawing, #remote-canvas-drawing {
	position: absolute;
	background: transparent;
	z-index: 201;
}
/* --------------------------------------------- */

/* ------------- AVAILABLE CONTAINER ----------- */
#available-container {
	display: inline-block;
	width: 496px;
	vertical-align: top;
}

.user {
	padding: 12px 16px;
}

.user:not(.user-myself):hover {
	background-color: #eee;
}

.user-myself {
	font-weight: bold;
	background-color: #bbb;
}

.user-avatar {
	display: inline-block;
	width: 22px;
	height: 22px;
	position: relative;
	top: 2px;
	border-radius: 12px;
}

.user-name {
	display: inline-block;
	margin-left: 12px;
	position: relative;
	top: -3px;
}

.user-hangup {
	display: none;
	background-color: #ef4836;
	padding: 4px 6px;
	border-radius: 3px;
}

.user-call {
	background-color: #f7ca18;
	padding: 4px 6px;
	border-radius: 3px;
}

.user-hangup:hover, .user-call:hover {
	cursor: pointer;
	color: #fff;
}
/* --------------------------------------------- */

/* --------------- CHAT CONTAINER -------------- */
#chat-container {
	display: inline-block;
	width: 496px;
	vertical-align: top;
}

#chat {
	background-color: #eaeaea;
}

.message {
	background-color: #ccc;
	padding: 3px 5px;
	margin-bottom: 4px;
}

.message:last-child {
	margin-bottom: 0px;
}

.message-timestamp {
	float: right;
	color: #333;
	font-size: 0.8em;
}

.message-sender {
	font-weight: bold;
	margin-bottom: 4px;
	color: #555;
}

.message-content {
	margin-left: 2px;
}

.message-server {
	background-color: #999;
	color: #dfdfdf;
}

.message-error {
	background-color: #d91e18 !important;
}

.message-myself {
	
}

#send-message {
	padding: 6px;
	background-color: #eee;
}

#send-message span {
	display: inline-block;
	vertical-align: middle;
}

#send-message span:first-child {
	width: 80%;
}

#send-message span:last-child {
	width: 19%;
	text-align: center;
}

#chat-message {
	resize: none;
	width: 100%;
}
/* --------------------------------------------- */

/* -------------- NOTIFICATION ----------------- */
.notification {
	background-color: #3498d8;
	padding: 8px 12px;
	z-index: 400;
	text-align: center;
}

.notification-title {
	font-weight: bold;
	padding-bottom: 6px;
}

.notification-action {
	padding-top: 6px;
}

.notification-action button {
	margin: 0px 6px;	
}
/* --------------------------------------------- */

/* ---------------- RESPONSIVE ----------------- */
@media (max-width: 1000px) {
	#page-container {
		width: 800px;
	}
}

@media (max-width: 800px) {
	#page-container {
		width: 600px;
	}
}

@media (max-width: 600px) {
	#page-container {
		width: 100%;
	}
	
	#login-container label {
		text-align: left;
		margin-bottom: 2px;
		width: 100%;
		display: block;
		font-size: small;
	}
	
	#login-container input[type=text] {
		margin-bottom: 8px;
		width: 100%;
	}
	
	#login-container button {
		display: block;
		width: 100%;
	}
}
/* --------------------------------------------- */