<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WebRTC</title>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<h2>WebRTC</h2>
	
	<div>
		<input type="text" id="username" placeholder="User name" />
	</div>
	
	<div>
		<input type="text" id="message" placeholder="Message" />
	</div>
	
	<div>
		<button id="send">Send</button>
	</div>
	
	<div id="content">
	</div>

	<script src="js/jquery-2-1-4-min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>