<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WebRTC</title>
  
  <link href="https://fonts.googleapis.com/css?family=Open%20Sans" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="public/css/webrtc.css">
</head>

<body>
	<div id="page-container">
		<header id="page-header">
			<h2>WebRTC</h2>
		</div>
		
		<div id="page-content">
			<div id="login-container">
				<div class="page-row">
					<span>
						<label for="username">Name:</label>
						<input type="text" id="username" placeholder="Name" />
					</span>
					
					<span>
						<button id="set-user-info">Ok</button>
					</span>
				</div>
			</div>
		
			<div id="after-login">
				<div class="page-row">
					<div id="video-container">
						<div id="local-video-container">
							<video id="local-video" autoplay></video>
							<canvas id="local-canvas-video" width="320" height="240"></canvas>
							<canvas id="local-canvas-drawing" width="320" height="240"></canvas>
						</div>
						
						<div id="remote-video-container">
							<video id="remote-video" autoplay></video>
							<canvas id="remote-canvas-video" width="320" height="240"></canvas>
							<canvas id="remote-canvas-drawing" width="320" height="240"></canvas>
						</div>
					</div>
				</div>
				
				<div class="page-row">
					<div id="available-container">
						<div class="section-header">Available users</div>
						
						<div id="available-users"></div>
					</div>
					
					<div id="chat-container">
						<div class="section-header">Chat</div>
						
						<div id="chat"></div>
					
						<div id="send-message">
							<span>
								<textarea id="chat-message" placeholder="Message"></textarea>
							</span>
							
							<span>
								<button id="send">Send</button>
							</span>
						</div>
					
						<div id="chat">
						</div>
					</div>
				</div>
			</div>
			
			<footer id="page-footer">
				<!--&copy; Michael Stifter 2015-->
			</div>
		</div>
	</div>

	<script src="public/js/jquery-2.1.4.min.js"></script>
	<script src="public/js/adapter.js"></script>
	
	<script src="config.js"></script>
	
	<script src="public/js/util.js"></script>
	
	<script src="helper/logger.js"></script>
	
	<script src="model/User.js"></script>
	<script src="model/Message.js"></script>
	<script src="model/Client.js"></script>
	<script src="model/Notification.js"></script>
	
	<script src="public/js/user-media.js"></script>
	<script src="public/js/web-rtc.js"></script>
	<script src="public/js/scripts.js"></script>
</body>
</html>